<% content_for :title do %>Index Page<% end %>

<h1>Index page</h1>
<div>
<p>This is the entry page</p>
<ul>
  <li><a href='#'>Index</a></li>
  <li><a href='/page1'>Page 1</a></li>
  <li><a href='/page2'>Page 2</a></li>
  <li><a href='/thankyou'>Thank you page</a></li>
</ul>
</div>
