<% content_for :title do %>Page 2<% end %>

<h1>Page 2</h1>
<div>
<p>The process is almost ready</p>
<ul>
  <li><a href='/'>Index</a></li>
  <li><a href='/page1'>Page 1</a></li>
  <li><a href='#'>Page 2</a></li>
  <li><a href='/thankyou'>Thank you page</a></li>
</ul>
</div>

