<h1>Thank you page</h1>
<div>
<p>This is the typical conversion page</p>
<ul>
  <li><a href='/'>Index</a></li>
  <li><a href='/page1'>Page 1</a></li>
  <li><a href='/page2'>Page 2</a></li>
  <li><a href='#'>Thank you page</a></li>
</ul>
</div>

